@model Login

<div class="container p-3" >
    <div class="form-control mb-2 border" style="background-color:lightgray;">
        <form method="post" asp-action="Login" >
            <div class="col-6">
                <label> Email </label>
                <input class="form-control" asp-for="Email" placeholder="Enter your Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="col-6">
                <label> Password </label>
                <input type="password" class="form-control" asp-for="Password" placeholder="Enter your Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="mb-2">
                <br />
                <button class="btn btn-info" type="submit" asp-area="User" asp-controller="User" asp-action="Login"> Login </button>
                 
                <a class="btn btn-info" asp-area="User" asp-controller="User" asp-action="SignUp"> User? Click here to Register </a>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
