@model Register
@{
    ViewData["Title"] = "SignUp";
}
<form method="post" asp-action="AddProduct" enctype="multipart/form-data">
    <div class="border p-3 mt-4" style="background-color:lightgray;">

        <div class="row pb-2">
            <h2 class="text-info">Register as a User</h2>
            <hr />
        </div>
        
        <div class="mb-3">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
        </div>
        
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="StreetAddress"></label>
            <input asp-for="StreetAddress" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Country"></label>
            <input type="text" asp-for="Country" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="PostalCode"></label>
            <input asp-for="PostalCode" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
        </div>

        <div class="mb-3">
            @if (@ViewBag.NotValidUser != null)
            {
                <label style="color:orangered"> @ViewBag.NotValidUser </label>
            }
        </div>
        @if (User.IsInRole("SuperAdmin"))
        {
            <button class="btn btn-info" type="submit" asp-controller="User" asp-action="AddAdmin"> AddAdmin </button>
        }
        else
        {
            <button class="btn btn-info" type="submit" asp-controller="User" asp-action="SignUp"> Register </button>
        }
        <a class="btn btn-info" asp-controller="User" asp-action="Login" asp-area="User"> Click here to Login </a>
    </div>
</form>








@*<form method="post" >
<div class="" >
    <div class="form-control mb-2 border" style="background-color:lightgray;">
            <div class="row">

            </div>

    </div>*@