@model dynamic

<div class="container" p-3>
    <div class="row" p-4>
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Create New Product
            </a>
        </div>
    </div>
    <br />
    <table id="tblData" class="table table-bordered table-striped text-center" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>IsActive</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
             @foreach (var obj in Model)
            {
                <tr>
                    <td width="25%"> @obj.Name </td>
                    <td width="25%"> @obj.Description </td>
                    <td width="25%"> @obj.Price </td>
                    <td width="25%"> @obj.IsActive </td>
                </tr>
            }        
        </tbody>
    </table>
</div>
@section Scripts{
        <script src="~/js/product.js"></script>
}